doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Language", content="en_US")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lyft Node Starter Kit
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    div(class="container")
      div(id="map")
      div(id="log")
        h3 Log
        form(id="logForm", name="logForm")
          textarea(id="logTarget", name="logTarget", rows="5")
      div(id="controls")
        h3 Controls
        form(id="controlsForm", name="controlsForm")
          ul
            li
              input(
                type="text",
                id="locationBegin",
                name="locationBegin",
                onchange="javascript:app.onChangeLocationBeginElement.apply(this, arguments);",
                placeholder="Pick Up Location",
                title="Pick Up Location"
              )
            li
              input(
                type="text",
                id="locationEnd",
                name="locationEnd",
                onchange="javascript:app.onChangeLocationEndElement.apply(this, arguments);",
                placeholder="Drop Off Location",
                title="Drop Off Location"
              )
            li
              button(
                type="button",
                title="Request Ride"
              ) Request Ride
            li
              button(
                type="button",
                onclick="javascript:app.getApiLyftEta();",
                title="Get ETA"
              ) Get ETA
              button(
                type="button",
                onclick="javascript:app.getApiLyftRides();",
                title="Get Ride History"
              ) Get Ride History
            li
              button(
                type="button",
                onclick="javascript:app.getApiStatus();",
                title="Get Local Server Status"
              ) Get Local Server Status
            li
              button(
                type="button",
                onclick="javascript:app.getApiLyftStatus();",
                title="Get Remote Server Status"
              ) Get Remote Server Status
    script(src="/js/main.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?callback=app.onGoogleMapsResponse&key="+GOOGLE_API_KEY)
